
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$pink: #ff1493;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Colours defined functionally
// Populate this with the proper colours

$cmain1: #000;
$cmain2: #000;
$cmain3: #000;
$caccent1: #000;
$caccent2: #000;
$caccent3: #000;

// Font stacks
$siteSans: 'Merriweather Sans', Arial, sans-serif;
$siteSerif: 'Merriweather', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}