<!DOCTYPE html>
<html>

{% include head.html %}
<body>



  <div id="main" role="main" class="container">

    <div class="row">
      <!-- Only show this sidebar for medium+ layout-->
      <div class="col-md-4 col-lg-3 d-none d-md-block">
         <div>{% include masthead-new.html %}</div>
         <div>{% include sidebar.html %}</div>
      </div>

      <div class="col-md-8 col-lg-9"> <!-- implied: xs and sm take up the full width -->

         <!-- Only show this masthead and the collapsibles for small and xs layout-->
         <!-- Probably need some specific styling here for the menus -->
        <div class="col-xs-12 d-md-none cld-small">{% include masthead-new.html %}</div>
        <div class="col-xs-12 d-md-none">
          <div class="expandable">
            <div class="expandable-top"><a href="#ContentType" data-toggle="collapse">Content Types <span class="iconify" data-icon="bi:chevron-double-down"></span></a></div>
            <div id="ContentType" class="collapse expandable-content">{% include contenttype-nav.html %}</div>
          </div>
          
        </div>
        <div class="col-xs-12 d-md-none">
          <div class="expandable">
            <div class="expandable-top"><a href="#Topic" data-toggle="collapse">Topics <span class="iconify" data-icon="bi:chevron-double-down"></span></a></div>
            <div id="Topic" class="collapse expandable-content">{% include topic-nav.html %}</div>
          </div>
          
        </div>
        <div class="col-xs-12">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Only show this here for small and xs layout, but probably needs styling or a different version -->
      <div class="col-xs-12 d-md-none">
        {% include blurb.html %}
      </div>
    </div>

    </div>

  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include footer.html %}
      </footer>
    </div>
  </div>

  {% include analytics.html %}

</body>

</html>