<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include masthead.html %}

  <div id="main" role="main" class="container">

    <div class="row">
      <div class="col-sm-7">
        {{ content }}
      </div>
      <div class="col-sm-5">
        {% include sidebar.html %}
      </div>
    </div>

  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include footer.html %}
      </footer>
    </div>
  </div>

  {% include analytics.html %}
  {% include bootstrapjs.html %}
</body>

</html>