---
layout: default-sidebar
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.excerpt %}
  <h2>{{ page.excerpt }}</h2>
  {% endif %}

  <!--to do: get these dynamically from the contenttype _data and get the urls for contenttype and topic-->
  <div>
    <span class="date"><i class="bi bi-calendar3"></i> {{ page.date | date: "%d-%b-%Y" }}</span>
    |
    <span class="tax-content-type"><i class="bi bi-window"></i> {{ page.contenttype }}</span>
    |
    <span class="tax-topic"><i class="bi bi-chat-square-dots"></i> {{ page.topic }}</span>
  </div>
  <hr>

  <div class="entry">
    {{ content }}
  </div>
  <hr />
  <p><i class="bi bi-tags-fill"></i> one, two, three</p>
  <!--to do-->

</article>