---
layout: default-sidebar
---

<article class="post content">
  <h1 class="title">{{ page.title }}</h1>

  {% if page.excerpt %}
  <p class="excerpt">{{ page.excerpt }}</p>
  {% endif %}

  <div class="meta-wrapper">
    <span class="date"><i class="bi bi-calendar3"></i> {{ page.date | date: "%d-%b-%Y" }}</span>
    |
    <span class="tax-content-type"><span class="iconify" data-icon="{{ site.data.taxonomy.contenttypes.[page.contenttype].icon }}"></span> {{ page.contenttype }}</span>
    |
    <span class="tax-topic"><span class="iconify" data-icon="{{ site.data.taxonomy.topics.[page.topic].icon }}"></span> {{ page.topic }}</span>
  </div>
  <hr>

  <div class="entry">
    {{ content }}
  </div>
  <hr />
  <p><i class="bi bi-tags-fill"></i> one, two, three</p>
  <!--to do-->
</article>